.ctable {
    width: 90%;
    margin: 10px;
    height: 500px;
    overflow: hidden;
}

table tr {
    
}

.ctd {
    color: whitesmoke;
    text-align: center; 
    vertical-align: middle;
}

.cth {
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
}