@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$bg-color: #f1f1f1;
$primary-color: #000;
$highlight-color: #e10600;
$light-color: #fff;
$border-color: #ddd;
$ff-primary: 'Poppins', sans-serif;

@mixin break {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 5px;
  }

  td {
    display: block;
    position: relative;
    padding-left: 130px;
    text-align: left;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }

    &::before {
      content: attr(data-heading);
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $primary-color;
      color: $light-color;
      font-size: 0.75rem;
      padding: 0 5px;
      justify-content: center;
    }
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
} 

body {
  font-family: $ff-primary;
}

.header {
  padding: 50px 15px;
  background-color: $bg-color;
  text-align: center;
  margin-bottom: 40px;

  h1 {
    font-size: 40px;
    font-weight: 300;
  }
}

.table-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 40px;

  &__title {
    background-color: $highlight-color;
    color: $light-color;
    text-align: center;
    padding: 10px;

    h2 {
      font-size: 24px;
      font-weight: 300;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {

      tr {
        background-color: white;
      }
    }

    td, th {
      border: 1px solid $border-color;
      padding: 10px;
      text-align: center;
    }



    &--break-lg {

      @media (max-width: 991px) {
        @include break;
      }
    }

    &--break-md {

      @media (max-width: 767px) {
        @include break;
      }
    }

    &--break-sm {

      @media (max-width: 575px) {
        @include break;
      }
    }
  }
}

